* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.box {
  height: 300px;
  width: 300px;
  border: 1px solid black;
  margin: 0 auto;
  font-size: 3rem;
  position: relative;
}

h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}